
@{
    ViewBag.Title = "category";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    .tag-view-type {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
</style>

<div id="wrapper">
    <div id="content">
        <h1>Bookhive图书分类</h1>
        <div class="grid-16-8 clearfix">
            <div class="article">
                <div class="tag-view-type">

                </div>
                <div class></div>
            </div>
            <div class="aside"></div>
            <div class="extra"></div>
        </div>
    </div>

</div>

