
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div id="wrapper">
    <div id="content">
        <h1>New book Express</h1>
        <div class="grid-12-12 clearfix">
           <div class="article">
               <h2>虚构类  · · · · · · </h2>
               <ul class="cover-col-4 clearfix">
                   <!--在这下面替代可以在后台管理首页显示的图书-->
                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                          
                           <img src="~/Content/image/mpic/s29116239.jpg" />
                       </a>
                   </li>
                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">

                           <img src="~/Content/image/mpic/s29136084.jpg" />
                       </a>
                   </li>
                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">

                           <img src="~/Content/image/mpic/s29259382.jpg" />
                       </a>
                   </li>
                   <li class="last">
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">

                           <img src="~/Content/image/mpic/s29264231.jpg" />
                       </a>
                   </li>
                   <li class="clear"></li>

                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="last">
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="clear"></li>

                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="last">
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="clear"></li>

                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="last">
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="clear"></li>

                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="last">
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="clear"></li>
               </ul>
           </div>
           <div class="aside">
               <h2 class="p120">非虚构类  · · · · · · </h2>
               <ul class="cover-col-4 p120 clearfix">
                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#"  />
                       </a>
                   </li>
                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="lbo">
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="last">
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="clear"></li>

                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="lbo">
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="last">
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="clear"></li>

                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="lbo">
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="last">
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="clear"></li>

                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="lbo">
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="last">
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="clear"></li>

                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li>
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="lbo">
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="last">
                       <div class="detail-frame">
                           <h2></h2>
                           <p class="color-gray"></p>
                           <p></p>
                       </div>
                       <a herf="#">
                           <img src="#" />
                       </a>
                   </li>
                   <li class="clear"></li>
               </ul>
           </div>
        </div>

    </div>

</div>

